// colors
$white-color: #ffffff;
$light-gray-100: #e5e5e5;
$light-gray-200: #6c757d;
$light-black-100: #1c2b39;

// responsive screen size
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Large desktop
$screen-xll-min: 1440px;
